<h2 class="m-5">Formulario de Registro Nuevo Empleado</h2>

<form (submit)="crearEmpleado( cedula.value, nombre.value, fecha.value ); cedula.value=''; nombre.value=''; fecha.value=''">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Identificación</label>
            <input #cedula type="number" class="form-control">
        </div>
        <div class="form-group col-md-8">
            <label>Nombre Completo</label>
            <input #nombre type="text" class="form-control">
        </div>
    </div>
    <div class="form-group col-md-3">
        <label>Fecha Nacimiento</label>
        <input #fecha type="date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Guardar Empleado</button>
</form>