<h2 class="m-4">Información de: {{ empleado.nombre }}</h2>

<form (ngSubmit)="guardar( f )" #f="ngForm">

    <div class="form-group col-md-3">
        <label>Identificación</label>
        <input type="number" [(ngModel)]="empleado.cedula" name="cedula" class="form-control">
    </div>
    <div class="form-group col-md-8">
        <label>Nombre Completo</label>
        <input type="text" [(ngModel)]="empleado.nombreEmpleado" name="nombre" class="form-control">
    </div>

    <div class="form-group col-md-3">
        <label>Fecha Nacimiento </label>
        <input type="datetime" [(ngModel)]="empleado.fechaNacimiento" name="fecha" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
    <button type="button" class="btn btn-primary">Volver</button>
</form>